html, body {
    height: 100%;
}

#cover {
    background: #222 url('img/stars.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content: center;
}

img {
    max-width: 100%;
}
